<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Типограф">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Типограф</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">

  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Типограф</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <form method="POST" action="{{ url_for('handle_form_request') }}">
        <div class="form-group">
          <textarea id="origin-text-area" name="text" class="form-control" rows="10" placeholder="Введите текст" autofocus>{{ origin_text }}</textarea>
        </div>

        <div class="form-group">
          <button id="typography-text-btn" class="btn btn-primary" type="submit">Типографировать</button>
          <button id="clear-text-btn" class="btn btn-primary" type="button">Очистить</button>
          <button id="copy-text-btn" class="btn btn-primary" type="button">Скопировать результат</button>
        </div>

        <div class="form-group">
          <textarea id="typographed-text-area" class="form-control" rows="10" placeholder="Здесь будет результат">{{ typographed_text }}</textarea>
        </div>
      </form>
    </div><!-- /.container -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='buttons_logic.js')}}"></script>
  </body>
</html>
